nav{
    background-color: #000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

a {
    text-decoration: nonea;
    transition: 50ms;
}

a:hover {
    font-size: 0.5cm;
}